{{ define "main" }}

<article>
  <header>
    <h1>{{ .Title }}</h1>

    {{ if ne .Type "page" }}
    <div>
      {{ if .Date }}
      <time class="text-grey">{{ .Date | time.Format ":date_medium" }}</time>
      {{ end }}<!---->
      {{ $single_author := or .Params.Author site.Author.name }}
      <!---->
      {{ if $single_author }}
      <span class="mx-1">&middot;</span>
      <span>{{ $single_author }}</span>
      {{ end }}
    </div>
    {{ end }}
  </header>

  <section>{{ .Content }}</section>

  <!-- Post Tags -->
  {{ if .Params.tags }}
  <footer>
    {{ range .Params.tags }} {{ $href := print (absURL "tags/") (urlize .) }}
    <a
      class="bg-light pad-5 nohl"
      href="{{ $href }}"
      >{{ . }}</a
    >
    {{ end }}
  </footer>
  {{ end }}

  <!-- Post Nav -->
  {{ if not site.Params.disablePostNavigation }}<!---->
  {{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}<!---->
  {{ if and (gt (len $pages) 1) (in $pages . ) }}
  <nav class="post-nav">
    {{ with $pages.Next . }}
      <a class="flex-grow" href="{{ .Permalink }}">&lt;- {{ .Name }}</a>
    {{ end }}<!---->
    {{ with $pages.Prev . }}
      <a class="justify-end flex-grow" href="{{ .Permalink }}">{{ .Name }} -&gt;</a>
    {{ end }}
  </nav>
  {{ end }}<!---->
  {{ end }}

  <!-- Disqus -->
  {{ if and site.DisqusShortname (not (eq .Params.comments false)) }}
  <div class="mt-24" id="disqus_thread"></div>
  <script>
    const disqusShortname = '{{ site.DisqusShortname }}';
    const script = document.createElement('script');
    script.src = 'https://' + disqusShortname + '.disqus.com/embed.js';
    script.setAttribute('data-timestamp', +new Date());
    document.head.appendChild(script);
  </script>
  {{ end }}

  <!-- GraphComment -->
  {{ if and site.Params.graphCommentId (not (eq .Params.comments false)) }}
  <div id="graphcomment"></div>
  <script type="text/javascript">
    var __semio__params = {
      graphcommentId: '{{ site.Params.graphCommentId  }}',
      behaviour: {
        //  uid: "...",
      },
      // configure your variables here
    };

    function __semio__onload() {
      __semio__gc_graphlogin(__semio__params);
    }

    (function () {
      var gc = document.createElement('script');
      gc.type = 'text/javascript';
      gc.async = true;
      gc.onload = __semio__onload;
      gc.defer = true;
      gc.src =
        'https://integration.graphcomment.com/gc_graphlogin.js?' + Date.now();
      (
        document.getElementsByTagName('head')[0] ||
        document.getElementsByTagName('body')[0]
      ).appendChild(gc);
    })();
  </script>
  {{ end }}
</article>

{{ end }}
